@charset "UTF-8";

*{ margin: 0%;
   padding: 0%;
box-sizing: border-box;
font-family: "Times New Roman", Times, serif;}
body {
	margin: 0%;
	padding: 0%;
	background-color: white;
	font-family: "Times New Roman", Times, serif;
}



ul {
	margin: 0;
	padding: 0%;
	padding-top: 0%;
	background-color: white;
	z-index: 1;
}

.bar {
	width: 100%;
	height: 7%;
	white-space: nowrap;
	text-align: left;
	color: white;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 0%;
	box-shadow: 0 4px 4px 0 rgba(66, 66, 66, 0.2);
	cursor: pointer;
	z-index: 1;
}

#navbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 100%;
}

#icon {
	padding-bottom: 0.5%;
	margin-bottom: 0%;
	padding-top: 0%;
	list-style-type: none;
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0%;
	margin-right: 0%;
	z-index: 1;
	height: 100%;
	color: #5D5C61;
	text-shadow: 1px 1px 0.5px 0.5px;
}


 #logo2 {
	padding-bottom: 0.5%;
	margin-bottom: 0%;
	padding-top: 1%;
	list-style-type: none;
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 33%;
	margin-right: 0%;
	z-index: 1;
	height: 100%;
    font-size: 150%;
}


#icon2 {
	padding-bottom: 0%;
	margin-bottom: 0%;
	padding-top: 0%;
	list-style-type: none;
	display: inline;
	padding-left: 0%;
	padding-right: 3%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	z-index: 1;	
	color: #5D5C61;
	text-shadow: 1px 1px 0.5px 0.5px;
}

#logo{ padding-top: 0%;
	margin-top: 0%;
	padding-bottom: 0%;
	margin-bottom: 0%;
	width: 70px;
	height: 70px;
    vertical-align: text-bottom;
 }


#icon a:link,#icon a:visited {
	color: #B1A296;
	text-decoration: none;
	z-index: 1;
}

#icon a:hover,#icon a:active {
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	color: #5D5C61;
	background-color: white;
	margin: 0% auto;
	text-decoration: none;
	z-index: 1;
}

#logo2 a:link,#logo2 a:visited {
	color: #B1A296;
	text-decoration: none;
	z-index: 1;
}

#logo2 a:hover,#logo2 a:active { 
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	color: #5D5C61;
	background-color: white;
	margin: 0% auto;
	text-decoration: none;
	z-index: 1;     
}



#Principal{margin: 0% auto;
		   padding:0%;
		   background-color: white;
		   width: 100%;
		   height: 900px;
		   }

#art1{ width: 77%;
	margin: 0% auto;
	text-align: center;
	background-color: white;
	padding: 0%;
	height: 100%;
}		   

#div0{ float: left;
	   width: 60%;
	   padding-bottom: 1%;
	}

#div3{ float: left;
		width: 60%;
		padding-bottom: 1%;
	 }

#div1{
	float: right;
	width: 40%;
	padding-bottom: 1%;
}	

#c2{ margin: 0% auto;
     text-align: center;
	 padding-top: 5%;
	 padding-bottom: 3%;
	 padding-left: 2%;
	 padding-right: 2%;
	 font-size: 200%; 
	 color: #5D5C61;
	 letter-spacing: 3px;
	 text-shadow: 1px 1px 0.5px 0.5px;
	 }


#fotos:hover{
	opacity: 0.8;
}









     #cont1{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: left;
        font-size: 120%;
        float: left;
        width:40%;
        color: #000000;
    }	   
    
    #cont2{
        font-size: 130%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0%;
        padding-right: 0%;
        text-align: right;
        float: right;
        width:40%;
        color: #000000;
    }	
    
    
    #foot{ width: 100%;
        height: 100%;
        padding-bottom: 1%;}	
    
    #fu1{margin:0% auto;
          width: 100%;
          padding-right: 2%;
          padding-left: 2%;
          padding-bottom: 1%;}