@charset "UTF-8";

*{ margin: 0%;
   padding: 0%;
box-sizing: border-box;
font-family: "Times New Roman", Times, serif;}
body {
	margin: 0%;
	padding: 0%;
	background-color: white;
	font-family: "Times New Roman", Times, serif;
}



ul {
	margin: 0;
	padding: 0%;
	padding-top: 0%;
	background-color: white;
	z-index: 1;
}

.bar {
	width: 100%;
	height: 7%;
	white-space: nowrap;
	text-align: left;
	color: white;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 0%;
	box-shadow: 0 4px 4px 0 rgba(66, 66, 66, 0.2);
	cursor: pointer;
	z-index: 1;
}

#navbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 100%;
}

#icon {
	padding-bottom: 0.5%;
	margin-bottom: 0%;
	padding-top: 0%;
	list-style-type: none;
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0%;
	margin-right: 0%;
	z-index: 1;
	height: 100%;
	color: #5D5C61;
	text-shadow: 1px 1px 0.5px 0.5px;
}


 #logo2 {
	padding-bottom: 0.5%;
	margin-bottom: 0%;
	padding-top: 1%;
	list-style-type: none;
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 33%;
	margin-right: 0%;
	z-index: 1;
	height: 100%;
    font-size: 150%;
}


#icon2 {
	padding-bottom: 0%;
	margin-bottom: 0%;
	padding-top: 0%;
	list-style-type: none;
	display: inline;
	padding-left: 0%;
	padding-right: 3%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	z-index: 1;	
	color: #5D5C61;
	text-shadow: 1px 1px 0.5px 0.5px;
}

#logo{ padding-top: 0%;
	margin-top: 0%;
	padding-bottom: 0%;
	margin-bottom: 0%;
	width: 70px;
	height: 70px;
    vertical-align: text-bottom;
 }


#icon a:link,#icon a:visited {
	color: #B1A296;
	text-decoration: none;
	z-index: 1;
}

#icon a:hover,#icon a:active {
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	color: #5D5C61;
	background-color: white;
	margin: 0% auto;
	text-decoration: none;
	z-index: 1;
}

#logo2 a:link,#logo2 a:visited {
	color: #B1A296;
	text-decoration: none;
	z-index: 1;
}

#logo2 a:hover,#logo2 a:active { 
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	color: #5D5C61;
	background-color: white;
	margin: 0% auto;
	text-decoration: none;
	z-index: 1;     
}


#Principal{margin: 0% auto;
    padding:2%;  
    background-color: white;
    width: 100%;
    }


#div0{
margin: 0% auto;
width: 60%;
height: 60%;
padding: 2%;
}

#c2{font-size: 200%;
    color: #5D5C61;
    text-align: center;
    padding: 2%;}

#h{text-align: justify;
   padding: 3%;
   font-size: 120%;
}  

#Reformas{ width: 98%;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin: 0% auto;
    height: 400px;
}

#art0{width: 98%;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
       }
 
#div01{ width: 45%;
    padding-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0%;
            float: left;
            background-image: url(img/paso.jpg);
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 100% 100%;
            height: 400px;
            box-shadow: 0 8px 8px 0 rgba(66, 66, 66, 0.2);
        }
     
#div02{ width: 45%;
    padding-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0%;
             float: right;
             background-image: url(img/local.jpg);
             background-repeat: no-repeat;
             background-position: right top;
             background-size: 100% 100%;
             height: 400px;
             box-shadow: 0 8px 8px 0 rgba(66, 66, 66, 0.2);}  
             
.button2 {
                border: none;
                color: white;
                background-color: #b1a296c2; 
                padding-top: 2%;
                padding-bottom: 2%;
                padding-left: 1%;
                padding-right: 1%;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 4px 2px;
                cursor: pointer;
                letter-spacing: 2px;
                box-shadow: 0 8px 8px 0 rgba(66, 66, 66, 0.2);
                border-radius: 5px;
              }
            
.button2:hover {
                background-color: #5d5c61be;
                color: white;
                box-shadow: 0 8px 8px 0 rgba(66, 66, 66, 0.2);
              }
        
#but2{
                text-align: center;
                text-decoration: none;
                color: white; 
              }      

#pulsar1{ padding-top: 30%;
         padding-left: 25%;}

#pulsar2{ padding-top: 30%;
            padding-left: 25%;}



#Conocer{margin: 0% auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0%;
    padding-bottom: 0%; 
    background-color: white;
    width: 100%;
    }


#div00{
margin: 0% auto;
width: 60%;
height: 60%;
padding-top: 2%;
padding-bottom: 0%;
padding-left: 2%;
padding-right: 2%;
}

#hh{text-align: center;
   padding-top: 3%;
   padding-bottom: 0%;
   font-size: 120%;
} 




#Trabajos{ width: 97%;
           padding: 3%;
            margin: 0% auto;
            height: 500px;
            }

#art2{width: 49.5%;
       padding-bottom: 2%;
       float: left;}

#art3{width: 49.5%;
        padding-bottom: 2%;
        float: right;}

#div1{ width: 49%;
       padding: 1%;
       float: left;}

#div2{ width: 49%;
        padding: 1%;
        float: right;}  
        
#servi:hover { 
    opacity: 0.6;
}

#Trabajos2{ width: 97%;
    padding: 3%;
     margin: 0% auto;
     height: 500px;
     }

#art4{width: 49.5%;
    padding-bottom: 2%;
    float: left;}

#art5{width: 49.5%;
     padding-bottom: 2%;
     float: right;}

#servi{ width: 100%;
        height: 100%;}

#nombre{ text-align: center;
         color: #5d5c61be;
         padding-top: 2%;
        padding-bottom: 2%;
        font-size: 120%;}  
#nombre:hover{color:#454447;;}        

#text{ padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
padding-right: 2%;
text-align: justify;
font-size: 110%;}   

#cont1{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    font-size: 120%;
    float: left;
    width:40%;
    color: #000000;
}	   

#cont2{
    font-size: 130%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: right;
    float: right;
    width:40%;
    color: #000000;
}	


#foot{ width: 100%;
	height: 100%;
	padding-bottom: 1%;}	

#fu1{margin:0% auto;
      width: 100%;
	  padding-right: 2%;
	  padding-left: 2%;
	  padding-bottom: 1%;}





















@media (max-width: 767px) and (min-width: 0px) {
	*{box-sizing: border-box;}	


	
#logo2{
	display: none;
}
	
#icon {
	padding-bottom: 0.5%;
	margin-bottom: 0%;
	padding-top: 0%;
	list-style-type: none;
	display: inline;
	padding-left: 0%;
	padding-right: 0%;
	margin-left: 2%;
	margin-right: 2%;
	z-index: 1;
	height: 100%;
	color: #5D5C61;
	text-shadow: 1px 1px 0.5px 0.5px;
	font-size: 90%;
	background-color: white;
}	
	
.bar {
	width: 100%;
	height: 7%;
	white-space: nowrap;
	text-align: center;
	color: white;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 0%;
	box-shadow: 0 4px 4px 0 rgba(66, 66, 66, 0.2);
	cursor: pointer;
	z-index: 1;
	font-size: 90%; 
	background-color: white;
}	
	
	
section#Reformas{
	display: none;
}	
	
	
	
#Principal{margin: 0% auto;
    padding:2%;  
    background-color: white;
    width: 100%;
    height: 350px;	
    background-color: white;
    }


#div0{
margin: 0% auto;
width: 80%;
height: 60%;
padding: 2%;
background-color: white;
}

#c2{font-size: 180%;
    color: #5D5C61;
    text-align: center;
    padding: 2%;
background-color: white;}

#h{text-align: justify;
   padding: 3%;
   font-size: 110%;
	background-color: white;
}  




section#Conocer{
	display: none;
}


#Trabajos{ width: 90%;
           padding: 3%;
            margin: 0% auto;
            height: 800px;
	background-color: white;
            }

#art2{width: 100%;
       padding-bottom: 3%;
       margin: 0% auto;
	background-color: white;
	}

#art3{width: 100%;
        padding-bottom: 3%;
        margin: 0% auto;
	background-color: white;}

#div1{ width: 49%;
       padding: 1%;
       float: left;
	background-color: white;}

#div2{ width: 49%;
        padding: 1%;
        float: right;
	background-color: white;}  
        
#servi:hover { 
    opacity: 0.6;
	background-color: white;
}

#Trabajos2{ width: 90%;
    padding: 3%;
     margin: 0% auto;
     height: 900px;
	background-color: white;
     }

#art4{width: 100%;
    padding-bottom: 3%;
    margin: 0% auto;
	background-color: white;
}

#art5{width: 100%;
     padding-bottom: 3%;
     margin: 0% auto;
	background-color: white;
}

#servi{ width: 100%;
        height: 100%;
	background-color: white;}

#nombre{ text-align: center;
         color: #5d5c61be;
         padding-top: 3%;
        padding-bottom: 3%;
        font-size: 110%;}  
#nombre:hover{color:#454447;
	background-color: white;}        

#text{ padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
padding-right: 2%;
text-align: justify;
font-size: 100%;
	background-color: white;}   

#cont1{
		padding-top: 4%;
		padding-bottom: 3%;
		padding-left: 2%;
		padding-right: 0%;
		text-align: left;
		font-size: 80%;
		float: left;
		width:39%;
		color: #000000;
	background-color: white;
	}	   

	#cont2{
		font-size: 90%;
		padding-top: 4%;
		padding-bottom: 3%;
		padding-left: 0%;
		padding-right: 2%;
		text-align: right;
		float: right;
		width:58%;
		color: #000000;
		background-color: white;
	}	


#foot{ width: 100%;
	height: 100%;
	padding-bottom: 3%;
	background-color: white;}	

#fu1{margin:0% auto;
      width: 100%;
	  padding-right: 2%;
	  padding-left: 2%;
	  padding-bottom: 1%;
	background-color: white;}
	
	
	
	
	
}	
